$primary-color: #6750a4;
$secondary-color: #f7f2fa;

$surface-color: #141218;

$border-radius: 10px;

// @font-face {
//   font-family: "Comfortaa";
//   src: local("Comfortaa"), url(./Comfortaa-Regular.ttf) format("truetype");
// }

#animation {
  position: fixed;
  bottom: 0;
  height: 45vh !important;
  z-index: -1;
  @media (max-width: 992px) {
    display: none !important;
  }
}

#network-animation {
  position: fixed;
  bottom: 0;
  div {
    display: none;
  }
}
body {
  background: rgb(238, 238, 238);
  font-family: Comfortaa;
}

.v-navigation-drawer {
  border-right: 1px solid #f7f2fa7f;
}

.nav-list {
  height: 100%;
  display: flex;
  gap: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $secondary-color;
}

.nav-item {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  div {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid #4a4458;
    align-items: center;
    border-radius: $border-radius;
    margin-bottom: 7px;
    transition-duration: 300ms;
  }
  div:hover {
    background-color: #4a4458 !important;
  }
  color: $secondary-color;
  text-decoration: none;
}

.nav-item.selected div {
  background-color: #4a4458 !important;
}

.container {
  padding: 20px 50px;
  @media (max-width: 992px) {
    padding: 20px 25px !important;
  }
}

.v-card:not(.v-bottom-sheet .v-card),
.v-overlay__content:not(.v-bottom-sheet .v-overlay__content) {
  border-radius: 20px !important;
  overflow: hidden;
}

.v-overlay__content {
  background-color: $surface-color;
}

.v-btn {
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.project {
  padding: 20px;
}

#about {
  height: calc(100vh - 40px);
}

.section-title {
  h1 {
    margin-left: 10px;
  }
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 180px;
}

.section-title.white {
  color: $secondary-color;
}

@keyframes fade {
  to {
    transform: translateY(-50vh);
  }
}

.bio {
  z-index: -1;
  position: fixed;
  display: flex;
  height: 70%;
  justify-content: center;
  align-items: center;
  padding: 0 20%;
  gap: 50px;
  animation: fade 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  @media (max-width: 1280px) {
    flex-wrap: wrap;
    padding: 0;
    padding-right: 25px;
    gap: 0;
  }
}

.avatar {
  img {
    height: 354.069px;

    @media (max-width: 992px) {
      height: 25vh;
    }
  }
}

.info {
  :first-child {
    font-family: Comfortaa;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    background: linear-gradient(90deg, #926bcc 2.78%, #8b97db 73.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.project-stack {
  display: flex;
  gap: 8px;
  font-size: 30px;
}

#contact .v-row {
  font-size: 17px;
  color: white;
  ul {
    line-height: 35px;
  }
  a {
    margin-left: 10px;
    color: white;
  }
  i {
    font-size: 20px;
  }
}
