@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Nunito", sans-serif;
}

body {
  overflow-x: hidden;
}

#devices {
  @media (max-height: 900px) and (min-width: 1024px) {
    bottom: -20rem;
  }
}
